.button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  /* background-color:#04401a; */
  background-color: var(--clr);
  backdrop-filter: blur(60px);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 29px 21px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;

  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-right: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.main-heading {
  font-family: serif;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #03752d;
}
